# define the install directory for the files 
# TARGETDIR="/"
# TARGETDIR="/Applications"
# TARGETDIR="/Library/PreferencePanes"
# TARGETDIR="/usr/local"
TARGETDIR="/Applications"

# use CONTENTONLY='n' for normal Apps and CONTENTONLY='y' if you want to install only the content of a directory to the target directory
CONTENTONLY='n'

# use this optinal config file to set the user and group by installing (the file should have a line like: USERANDGROUP="mueller:staff")
USERANDGROUPFILE='/usr/local/default_user_and_group.cfg'

# if 'y', set the user and group from the file $USERANDGROUPFILE
SETUSERANDGROUP='y'

# if 'y', do not allow the installer to install the App on an other (older) place (option BundleIsRelocatable -> false)
DONOTRELOCATE='y'

# the name of the temporaery script
TMPFILE="/tmp/tmp_"`date +%s`"_create_pkg.sh"

# prefix of the package identifier (package name) 
PREFIX_IDENTIFIER='org.example.user.software.'

# set the path for the new package(s)
DIRNAMEAPP=`basename $(pwd) | sed "s/ /\_/g" | sed "s/[^a-zA-Z0-9]/_/g"`
PKGPATH="$HOME/Desktop/CREATED_PKGS/$DIRNAMEAPP"

# set the path for the new icon(s)
ICONPATH=$PKGPATH"/_icons"

# define thhe name and paths for the install and uninstall script
INSTALLSCRIPT=$PKGPATH/_install_all.sh
UNINSTALLSCRIPT="$PKGPATH/_uninstall_$DIRNAMEAPP.sh"

# if set, define a version number
# VERSION='0.0.'$(date '+%Y.%m.%d.%H%M')
VERSION=''

# if set 'y' remove the temporary files after creating the package(s)
REMOVETEMPBUILDFILES='y'

# create all or only new packages
createOnlyNewPackages='y'
lastPackageVersionFilePath='./_last_versions_of_created_packages.txt'
currentPackageVersionFilePath='./_current_versions_of_created_packages.txt'
